@import "tailwindcss";

@theme {

  --color-background1: #fffcf2;
  --color-background2: #ccc5b9;
  --color-primaryText: #252422;
  --color-secondaryText: #403d39;
  --color-accent: #eb5e28;

  --default-font-family: 'Inter', sans-serif;

}

html, body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(circle at top left, var(--color-background2) 0%, var(--color-background1) 50%), no-repeat, var(--color-background1);
}
